* {
    border: none;
    border-radius: 0;
    font-family: "MesloLGS Nerd Font";
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: #D8DEE9;
}

#workspaces button {
    font-weight: bold;
    padding: 0 5px;
    background: transparent;
    color: white;
    border-top: 2px solid transparent;
}

#workspaces button.focused {
    color: #8FBCBB;
    background: #3B4252;
}

#mode {
    background: #64727D;
    border-bottom: 3px solid white;
}

#clock, #battery, #cpu, #memory, #network, #pulseaudio, #custom-spotify, #tray, #mode {
    padding: 0 3px;
    margin: 0 2px;
}

#clock {
    font-weight: bold;
}

#battery {
}

#battery icon {
    color: #BF616A;
}

#battery.charging {
    color: #A3BE8C;
}

#cpu {
}

#memory {
}

#network {
}

#network.disconnected {
    background: #BF616A;
}

#pulseaudio {
}

#pulseaudio.muted {
}

#tray {
}
