* {
    border: none;
    border-radius: 0;
    font-family: FiraCode Nerd Font;
    font-size: 15px;
    min-height: 0;
}

window#waybar {
    background: #2E3440;
    color: #D8DEE9;
}

#workspaces button {
    background: transparent;
    border-radius: 0;
    padding: 0;
}

#workspaces button.focused {
    font-weight: bold;
    color: #8FBCBB;
    background: #3B4252;
}

#mode {
    font-weight: bold;
    color: #8FBCBB;
    background: #3B4252;
}

#battery, #cpu, #memory, #network, #pulseaudio, #custom-keyboard-layout, #tray, #mode, #custom-power  {
    padding: 0 3px;
    margin: 0 5px;
}

#clock {
    font-weight: bold;
}

#battery {
}

#battery icon {
    color: #BF616A;
}

#battery.charging {
    color: #A3BE8C;
}

#battery.warning {
    color: #EBCB8B;
}


#cpu {
}

#memory {
}

#network {
}

#network.disconnected {
    background: #BF616A;
}

#backlight {
    padding-right: 5px;
}

#backlight.icon {
    padding-left: 5px;
}

#pulseaudio {
}

#pulseaudio.muted {
}

#tray {
}
